/* 

This widget uses CSS from the 'main.css' file in the root folder.
They are as follows:

.clearfix
.mn-panel

*/

img.mn-event-thumb {
	width: 85px;
	float: left;
	margin-right: 10px;
	border: 1px solid #888;
	-webkit-box-shadow: inset 0px 3px 5px 0px rgba(225, 225, 225, 0.7);
	box-shadow: inset 0px 3px 5px 0px rgba(225, 225, 225, 0.7);
}

.mn-event-text {
	float: left;
	width: 133px;
}

.mn-event-title {
	color: #333 !important;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

small.mn-event-date {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 13px;
	color: #555;
	margin: 0;
}

p.mn-event-description {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #555;
	margin: 4px 0 0 0;
}