/* 

This widget uses CSS from the 'main.css' file in the root folder.
They are as follows:

.clearfix
.mn-panel

*/

img.mn-photo-gallery {
	width: 120px;
	float: left;
	margin-right: 10px;
}

.mn-photo-gallery-text {
	 float: left;
	 width: 100px;
	 padding-top: 10px;
}

a.mn-photo-title {
	color: #333 !important;
	font-size: 15px;
	margin: 0;
	font-weight: bold;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a.mn-photo-title:hover {
	color: #000 !important;
}

p.mn-photo-description {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #555;
	font-size: 13px;
	margin: 2px 0 0 0;
}