/* 

This widget uses CSS from the 'main.css' file in the root folder.
They are as follows:

.clearfix
.mn-panel
.mn-divider

*/

.mn-points-bar {
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	margin-bottom: 5px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	filter: dropshadow(color=rgba(0, 0, 0, 0.25), offx=0, offy=1);
	-webkit-box-shadow: inset 0 1px 5px 0 rgba(225, 225, 225, 0.25);
	box-shadow: inset 0 2px 3px 0 rgba(225, 225, 225, 0.25);
}

.mn-points-inner {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: white;
	float: right;
	width: 10px;
	padding: 3px 10px 1px;
	font-weight: normal;
}

.house-name {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: white;
	font-size: 14px;
	float: left;
	padding: 2px 0;
}

.mn-points-bar#palace {
	background-color: #5c931a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(137, 204, 63)),to(rgb(92, 147, 26)));
	background-image: -webkit-linear-gradient(top, rgb(137, 204, 63), rgb(92, 147, 26));
	background-image: -moz-linear-gradient(top, rgb(137, 204, 63), rgb(92, 147, 26));
	background-image: -o-linear-gradient(top, rgb(137, 204, 63), rgb(92, 147, 26));
	background-image: -ms-linear-gradient(top, rgb(137, 204, 63), rgb(92, 147, 26));
	background-image: linear-gradient(top, rgb(137, 204, 63), rgb(92, 147, 26));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #89cc3f , EndColorStr= #5c931a );
	border: 1px solid #82A224;
}
	
.mn-points-inner#palace-inner {
	background-color: #89cc3f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(92, 147, 26)), to(rgb(137, 204, 63)));
	background-image: -webkit-linear-gradient(top, rgb(92, 147, 26), rgb(137, 204, 63));
	background-image: -moz-linear-gradient(top, rgb(92, 147, 26), rgb(137, 204, 63));
	background-image: -o-linear-gradient(top, rgb(92, 147, 26), rgb(137, 204, 63));
	background-image: -ms-linear-gradient(top, rgb(92, 147, 26), rgb(137, 204, 63));
	background-image: linear-gradient(top, rgb(92, 147, 26), rgb(137, 204, 63));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #5c931a , EndColorStr= #89cc3f );
}

.mn-points-bar#tower {
	background-color: #bd9a0c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(253, 208, 18)), to(rgb(189, 154, 12)));
	background-image: -webkit-linear-gradient(top, rgb(253, 208, 18), rgb(189, 154, 12));
	background-image: -moz-linear-gradient(top, rgb(253, 208, 18), rgb(189, 154, 12));
	background-image: -o-linear-gradient(top, rgb(253, 208, 18), rgb(189, 154, 12));
	background-image: -ms-linear-gradient(top, rgb(253, 208, 18), rgb(189, 154, 12));
	background-image: linear-gradient(top, rgb(253, 208, 18), rgb(189, 154, 12));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #fdd012 , EndColorStr= #bd9a0c );
	border: 1px solid #C5972E;
}

.mn-points-inner#tower-inner {
	background-color: #fdd012;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(189, 154, 12)), to(rgb(253, 208, 18)));
	background-image: -webkit-linear-gradient(top, rgb(189, 154, 12), rgb(253, 208, 18));
	background-image: -moz-linear-gradient(top, rgb(189, 154, 12), rgb(253, 208, 18));
	background-image: -o-linear-gradient(top, rgb(189, 154, 12), rgb(253, 208, 18));
	background-image: -ms-linear-gradient(top, rgb(189, 154, 12), rgb(253, 208, 18));
	background-image: linear-gradient(top, rgb(189, 154, 12), rgb(253, 208, 18));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #bd9a0c , EndColorStr= #fdd012 );
}

.mn-points-bar#castle {
	background-color: #bc3b44;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 98, 108)), to(rgb(188, 59, 68)));
	background-image: -webkit-linear-gradient(top, rgb(255, 98, 108), rgb(188, 59, 68));
	background-image: -moz-linear-gradient(top, rgb(255, 98, 108), rgb(188, 59, 68));
	background-image: -o-linear-gradient(top, rgb(255, 98, 108), rgb(188, 59, 68));
	background-image: -ms-linear-gradient(top, rgb(255, 98, 108), rgb(188, 59, 68));
	background-image: linear-gradient(top, rgb(255, 98, 108), rgb(188, 59, 68));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #ff626c , EndColorStr= #bc3b44 );
	border: 1px solid #BF3137;
}

.mn-points-inner#castle-inner {
	background-color: #ff626c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(188, 59, 68)), to(rgb(255, 98, 108)));
	background-image: -webkit-linear-gradient(top, rgb(188, 59, 68), rgb(255, 98, 108));
	background-image: -moz-linear-gradient(top, rgb(188, 59, 68), rgb(255, 98, 108));
	background-image: -o-linear-gradient(top, rgb(188, 59, 68), rgb(255, 98, 108));
	background-image: -ms-linear-gradient(top, rgb(188, 59, 68), rgb(255, 98, 108));
	background-image: linear-gradient(top, rgb(188, 59, 68), rgb(255, 98, 108));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #bc3b44 , EndColorStr= #ff626c );
}

.mn-points-bar#abbey {
	background-color: #4197b8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(104, 209, 248)), to(rgb(65, 151, 184)));
	background-image: -webkit-linear-gradient(top, rgb(104, 209, 248), rgb(65, 151, 184));
	background-image: -moz-linear-gradient(top, rgb(104, 209, 248), rgb(65, 151, 184));
	background-image: -o-linear-gradient(top, rgb(104, 209, 248), rgb(65, 151, 184));
	background-image: -ms-linear-gradient(top, rgb(104, 209, 248), rgb(65, 151, 184));
	background-image: linear-gradient(top, rgb(104, 209, 248), rgb(65, 151, 184));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #68d1f8 , EndColorStr= #4197b8 );
	border: 1px solid #548CBF;
}

.mn-points-inner#abbey-inner {
	background-color: #68d1f8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(65, 151, 184)), to(rgb(104, 209, 248)));
	background-image: -webkit-linear-gradient(top, rgb(65, 151, 184), rgb(104, 209, 248));
	background-image: -moz-linear-gradient(top, rgb(65, 151, 184), rgb(104, 209, 248));
	background-image: -o-linear-gradient(top, rgb(65, 151, 184), rgb(104, 209, 248));
	background-image: -ms-linear-gradient(top, rgb(65, 151, 184), rgb(104, 209, 248));
	background-image: linear-gradient(top, rgb(65, 151, 184), rgb(104, 209, 248));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr= #4197b8 , EndColorStr= #68d1f8 );
}